@font-face {
  font-family: "TechMono";
  src: url("/fonts/ShareTechMono-Regular.ttf") format("truetype");
}

.blogContent {
  font-family: system-ui, sans-serif;
  line-height: 1.7;
  white-space: pre-wrap; /* preserve all newlines */
  font-family: "TechMono";
  color: #00F8F8; /* Neon cyan */
  transition: filter 0.6s ease, opacity 0.6s ease;
  filter: blur(0);
  opacity: 1;
}

/* small glow so text pops while decoding */
.deciphering {
  text-shadow: 0 0 6px #00ffff, 0 0 12px #00ffff;
}

.decoded {
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}

.invisibleChar {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.visibleChar {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.initiallyHidden {
  opacity: 0 !important;
}

.animationReady {
  opacity: 1 !important;
}

.blogContent p {
  margin-bottom: 1rem;
  font-size: 18px;
}

.blogContent br {
  content: "";
  display: block;
  margin-bottom: 0.5rem;
}

.blogContent a {
  color: #FF00FF;
  text-decoration: none;
}

.blogContent h1 {
  color: #FF00FF;
  text-align: center;
}

.blogContent h2 {
  color: #FF00FF;
}

.blogContent h3 {
  color: #FF00FF;
}

.blogContent a:hover {
  text-decoration: underline;
}

.blogContent img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
}

.blogContent iframe {
  width: 100%;
  max-width: 100%;
  height: 400px;
  margin: 1rem 0;
}

.blogMain {
  max-width: 900px;
  margin: 6rem auto 2rem auto; /* top space for navbar */
  padding: 2rem;
}
